#profile {
  max-width: 20rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.062) 0px 0px 0px 1px;
  border-radius: 8px;
  position: fixed;
  padding: 1rem;
  top: 4rem;
  left: 20vw;
  bottom: 6rem;
}

img {
  max-width: 12rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.name {
  font-weight: bold;
}

.title {
  font-weight: 300;
  font-size: 14-px;
}