.navmenusm {
	display: none;
}
.navbarsm {
	display: none;
}

@media (max-width: 688px) {
	.navbarsm {
		display: block;
	}
	.nav-menusm {
		display: inline-block;
		position: fixed;
		top: 3.1rem;
		left: 0;
		cursor: pointer;
	}
	.nav-itemsm {
		background: white;
		border: none;
		width: 16.2vw;
		height: 2rem;
		border: 1px solid black;
	}
}
