.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #2D3047;
}

@media (max-width: 688px) {
  .hamburger {
    display: block;
    position: fixed;
    top: .5rem;
    left: .5rem;
  }
  .hamburger.active .bar:nth-child(2){
    opacity:0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translate(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(2){
    transform: translate(-8px) rotate(45deg);
  }
  .nav-menu{
    position: fixed;
    left: -100%;
    top: 4rem;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width:100%;
    text-align: center;
    transition: 0,3s;
  }

  .nav-item{
    margin: 1rem 0;
  }

  .nav-menu.active{
    left:0;
  }
}