.experience {
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.062) 0px 0px 0px 1px;
	padding: 1.5rem 1rem;
	margin-bottom: 1rem;
	min-width: var(--mainframe-width);
	width: min(52rem, 75vw);
	height: fit-content;
	font-size: 1.7rem;
	font-weight: bold;
	border-radius: 8px;
	font-family: monospace, "Courier New", Courier;
	text-align: left;
	color: #2d3047;
	scroll-margin-top: 4rem;
}

.text {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 1rem;
	font-weight: normal;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0 2rem 0 0;
}
.some {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.linktitle {
	color: inherit;
	text-decoration: none;
}
