.heroes {
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.062) 0px 0px 0px 1px;
	padding: 1rem 1rem;
	min-width: var(--mainframe-width);
	width: min(52rem, 75vw);
	height: fit-content;
	border-radius: 8px;
	scroll-margin-top: 4rem;
	margin-right: 1rem;
	/* position: absolute;
  left: 34vw;
  top: 4rem; */
}
.heading {
	margin-bottom: 2rem;
	margin-top: 2rem;
	color: var(--primary-color);
	font-size: clamp(4vw, 10rem);
}
.copy {
	border-radius: 6px;
	min-width: 100%;
}

.btns-list {
	padding: 1rem 0;
	text-align: left;
}

.btns {
	width: 2rem;
	font-size: clamp(12px, 3.5vw, 1rem);
	margin-right: 4px;
	background-color: var(--primary-color);
	border-radius: 6px;
	color: white;
	border: none;
	padding: 10px 8px;
	text-decoration: none;
}

.btns:active {
	background-color: #2d304750;
	color: #fff;
}

.btns:hover {
	text-decoration: underline;
	color: #fff;
}
