* {
	/* border: 1px solid red; */
}

:root {
	--mainframe-width: 20rem;
	--primary-color: #2d3047;
	--twitter-blue: #00aced;
}

html {
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

.App {
	background-color: #f3f2ef;
}

.content {
	display: flex;
	justify-content: center;
	gap: 1rem;
	min-width: 100%;
	width: 100vw;
}
